@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu/>
</div>

<div class="main">
    <div class="top-row px-4">
        Powered by&nbsp;<a href="https://blazor.net" target="_blank">Blazor</a>&nbsp;and&nbsp;<a href="https://PrismJS.com" target="_blank">Prism</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>