@page "/about"

<h1>About NuGetDefense</h1>
<p>NuGetDefense was inspired by <a href="https://github.com/OWASP/SafeNuGet" target="_blank">SafeNuGet</a> and <a href="https://github.com/sonatype-nexus-community/DevAudit" target="_blank">DevAudit</a>. NuGetDefense aims to provide more than defense against known vulnerabilities. If used in the CD pipeline, it could prevent unwanted dependencies from creeping into the project through malicious or accidental changes.</p>

<h2>Does The Least Harm</h2>
<p>NuGetDefense development follows the "Does The Least Harm" rule. Sometimes a bug fix or a new feature can be implemented in multple ways, but one is clearly the "Best" by standards of performance, readability, security, best practices. However, it's not always the correct way to solve the problem. A 100x performance increase that opens up a security vulnerability that is simple to exploit does more harm that than leaving code alone. On the same note, a security fix for a vulnerability that is difficult to exploit, is unlikely to be exploited in production and has little risk if it is exploited but decreases performance significantly does more harm as well.</p>
<p>In reality, this usually just means considering the end users while coding but extends to the API's NuGetDefense depends on and those who contribute to it.</p>

<h2>Other Tools/Resources for Checking Vulnerabilities</h2>
<h3>Tools</h3>
<ul>
    <li><h4><a href="https://github.com/RetireNet/dotnet-retire" target="_blank">dotnet-retire</a>:</h4>A dotnet CLI extension to check your project for known vulnerabilities.</li>
    <li><h4><a href="https://github.com/OWASP/SafeNuGet" target="_blank">SafeNuGet</a>:</h4> An MsBuild task to warn about insecure NuGet libraries. (<a href="https://github.com/OWASP/SafeNuGet/issues/16#issuecomment-292575944" target="_blank">No Longer Maintained</a>)</li>
    <li><h4><a href="https://github.com/sonatype-nexus-community/DevAudit" target="_blank">DevAudit</a>:</h4> A security auditing tool targeted at developers and teams adopting DevOps and DevSecOps that detects security vulnerabilities at multiple levels of the solution stack.</li>
    <li><h4><a href="https://support.snyk.io/hc/en-us/articles/360003812458-Getting-started-with-the-CLI" target="_blank">Snyk CLI</a>:</h4> The Snyk CLI, connects to snyk.io over https, authenticates your machine with your account, and then helps you find and fix known vulnerabilities in your dependencies, both manually and as part of your continuous integration (CI (Build)) system.</li>
    <li><h4><a href="https://owasp.org/www-project-dependency-check/" target="_blank">OWASP Dependency-Check</a>:</h4> Dependency-Check is a Software Composition Analysis (SCA) tool that attempts to detect publicly disclosed vulnerabilities contained within a project’s dependencies. It does this by determining if there is a Common Platform Enumeration (CPE) identifier for a given dependency. If found, it will generate a report linking to the associated CVE entries.</li>
    <li><h4><a href="https://github.com/NuGet/Home/issues/8087" target="_blank">dotnet sdk</a>:</h4> There is a plan to implement some form of vulnerability checking into the dotnet cli</li>
</ul>
<h3>Resources</h3>
<ul>
    <li><h4><a href="https://nvd.nist.gov" target="_blank">National Vulnerability Database</a>:</h4>The U.S. government repository of standards based vulnerability management data represented using the Security Content Automation Protocol (SCAP).</li>
    <li><h4><a href="https://vulners.com/" target="_blank">Vulners</a>:</h4> A security database containing descriptions for large amount of software vulnerabilities in machine-readable format.</li>
    <li><h4><a href="https://ossindex.sonatype.org/" target="_blank">OSSIndex</a>:</h4> A free catalogue of open source components and scanning tools to help developers identify vulnerabilities, understand risk, and keep their software safe. Sonatype has a nice catalogue of security tools.</li>
    <li><h4><a href="https://snyk.io/" target="_blank">Snyk</a>:</h4> Snyk offers various tools and services for auditing your projects. There are even tools for scanning your public repos directly.</li>
</ul>

<h2></h2>